/node_modules/
public/storage
/storage/*.key
/vendor/
/.idea
Homestead.json
Homestead.yaml
.env
.env.example

_public/storage
_vendor

node_modules/
vendor/
node_modules

public/js/app.js
_public/js/app.js
/public/js/app.js

public/js/app.js

public/css/core.css

public/css/core.css

public/css/icons.css
.gitattributes

config/services.php
/config/services.php
_config/services.php

.DS_Store