* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*
    overflow: auto;
    clear: both;
    */
    font-family: 'Roboto', sans-serif;
}



.sc-logo {height: 50px;}
.main { background-color: #F1F4F5; }

.centered-text {
    /*display: block;*/
    text-align:center;
    margin-left: auto;
    margin-right: auto;
    float: none;
}
.center-block {/* Bootsrap Class */ }

.centered,.centered-abs {margin-left: auto; margin-right: auto;}
.centered-abs{left: 0; right: 0}

.verticalcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.test-box{height: 30px; width: 30px; border: 1px solid #ccc; display: block}

/*ul {  list-style-type: none; }*/

hr {
    height: 0;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border-top: 1px solid #9b9b9b;
}

.text-incr-78{  font-size: 78%;  }
.text-incr-85{  font-size: 85%;  }
.text-incr-90{  font-size: 90%;  }
.text-incr-95{  font-size: 95%;  }
.text-incr-115{  font-size: 115%;  }
.text-incr-120{  font-size: 120%;  }
.text-incr-125{  font-size: 125%;  }
.text-incr-150{  font-size: 150%;  }
.text-incr-175{  font-size: 175%;  }
.text-incr-200{  font-size: 200%;  }

.font-weight-100 {font-weight: 100;}
.font-weight-300 {font-weight: 300;}
.font-weight-400 {font-weight: 400;}
.font-weight-500 {font-weight: 500;}


.pad-lr-0-mar-lr-0{padding-right: 2px!important; padding-left: 2px!important;}
.pad-0{padding: 0;}
.mar-0{margin: 0}
.pad-0-mar-0{ padding: 0; margin: 0}

.pad-top-2 { padding-top: 2px; }
.pad-top-3 { padding-top: 3px; }
.pad-top-5 { padding-top: 5px; }
.pad-top-7 { padding-top: 7px; }
.pad-top-8 { padding-top: 8px; }
.pad-top-10 { padding-top: 10px; }
.pad-top-20 { padding-top: 20px; }
.pad-top-30 { padding-top: 30px; }
.pad-top-40 { padding-top: 40px; }
.pad-top-45 { padding-top: 44px; }
.pad-top-50 { padding-top: 50px; }
.pad-top-100 { padding-top: 100px; }
.pad-bot-5 { padding-bottom: 5px;}
.pad-bot-10 { padding-bottom: 10px;}
.pad-bot-20 { padding-bottom: 20px;}

.pad-left-2 { padding-left: 2px; }
.pad-left-3 { padding-left: 3px; }
.pad-left-5 { padding-left: 5px; }
.pad-left-6 { padding-left: 6px; }
.pad-left-8 { padding-left: 8px; }
.pad-left-10 { padding-left: 10px; }
.pad-left-20 { padding-left: 20px; }
.pad-left-35 { padding-left: 35px; }
.pad-left-42 { padding-left: 42px; }
.pad-left-50 { padding-left: 50px; }
.pad-right-5 { padding-right: 5px; }
.pad-right-10 { padding-right: 10px; }
.pad-right-15 { padding-right: 15px; }
.pad-right-20 { padding-right: 20px; }

.margin-left-7{ margin-left: 7px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-20 { margin-left: 20px; }
.margin-left-30 { margin-left: 30px; }
.margin-right-5 { margin-right: 5px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-20 { margin-right: 20px; }
.margin-right-25 { margin-right: 25px; }
.margin-right-30 { margin-right: 30px; }
.margin-right-50 { margin-right: 80px; }


.margin-top--8 { margin-top: -8px; }
.margin-top-0  { margin-top: 0;}
.margin-top-2  { margin-top: 2px; }
.margin-top-3  { margin-top: 3px; }
.margin-top-5  { margin-top: 5px; }
.margin-top-8  { margin-top: 8px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-top-20 { margin-top: 20px; }
.margin-top-30 { margin-top: 30px; }
.margin-top-40 { margin-top: 40px; }
.margin-top-50 { margin-top: 50px; }
.margin-top-60 { margin-top: 60px; }
.margin-top-70 { margin-top: 70px; }
.margin-bot-10 { margin-bottom: 10px; }
.margin-bot-15 { margin-bottom: 15px; }
.margin-bot-25 { margin-bottom: 25px; }
.margin-bot-50 { margin-bottom: 50px; }


.overflow-x{overflow-x: hidden}


a:link, a:visited, a:hover, a:active  {
    background-color: transparent;
    text-decoration: none;
}
/*a:visited { color: #fff;  }*/
a:hover  {  color: #FD6A33;  }

.card a:link,  .card a:active, .card a:visited {  color: #888;}

.col-md-11 .nav  a:hover {  color: #00bcd4;}



.sc-landing-footer  {z-index: 200}

.schools-nav-row{padding-left: 0; padding-right: 12px;}
.scholarship-profile-nav-row{padding-left: 12px; padding-right: 12px;}
@media (max-width: 991px) {
    .schools-nav-row{ padding-right: 0}
    .scholarship-profile-nav-row{ margin-left: -27px!important; padding-right: 0!important;}
}

@media (max-width: 767px) {
    .schools-nav-row{ margin-left: -30px!important;}
    .scholarship-profile-nav-row{ margin-left: -42px!important;}

}


/*=============================================*/
/*  /////////////////////////////////////////  */
/* ------------- HELPERS ------------- */
/*  /////////////////////////////////////////  */
/*=============================================*/
.sc-no-border{border:0!important;}


/*=============================================*/
/*  /////////////////////////////////////////  */
/* ------------- COLOR ------------- */
/*  /////////////////////////////////////////  */
/*=============================================*/

.sc-gray-back{background: #F1F4F5}
.sc-dark-blue{background:#324c5a;}
.sc-blue{background:#025888;}
.sc-green{background:#00bcd4;}
.sc-dark-green{background: #008da5;}
.sc-light-grey{background:#f5f5f5;}
.sc-medium-grey{background: #dde5e8;}
.sc-dark-grey{background: #888;}
.sc-white{background:#ffffff;}
.sc-primary{background:#337AB7;}
.sc-dark-primary{background:#1d4567;}
.sc-orange {background: #FD6A33;}



.sc-t-white{color: white;}
.sc-t-dark-blue{color:#324c5a;}
.sc-t-dark-green{color: #008da5;}
.sc-t-green{color: #00bcd4;}
.sc-t-grey{color: #888;}
.sc-t-dark-grey{color: #4a5a62;}
.sc-t-orange {color: #FD6A33;}
.sc-t-primary{color: #337AB7;}

.fa-linear {-webkit-text-stroke: 0.7px black;
    color: transparent}
.fa-linear2 {-webkit-text-stroke: 0.8px white;
    color: transparent}
.fa-linear3 {-webkit-text-stroke: 0.9px #00bcd4;
    color: transparent}

.fa-linear4{-webkit-text-stroke: 1px black;
    color: transparent}

.fa-linear5 {-webkit-text-stroke: 0.9px #008da5;
    color: transparent}

/*=============================================*/
/*  /////////////////////////////////////////  */
/* ------------- FONTS ------------- */
/*  /////////////////////////////////////////  */
/*=============================================*/

/*
@font-face {font-family: 'Roboto', sans-serif; src: url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=greek');}
*/




/*=============================================*/
/*  /////////////////////////////////////////  */
/* ------------- TEXTS ------------- */
/*  /////////////////////////////////////////  */
/*=============================================*/

h1,h2,h3,h4,h5,h6,p,div,span,a,button{font-family: 'Roboto', sans-serif;}

h1{font-size:60px;}
h3{font-size:30px;}
h4{font-size:20px;}
h5{font-size:18px;}

/*=============================================*/
/*  /////////////////////////////////////////  */
/* ------------- BUTTONS ------------- */
/*  /////////////////////////////////////////  */
/*=============================================*/

.sc-button{min-width:110px;height:40px;text-align:center;border-radius:5px;border:0;outline:none;}
.sc-button:focus{outline:none;}
.sc-button:active{outline:none;}

.sc-button2{min-width:140px;height:35px;text-align:center;border-radius:30px;border:0;outline:none;}
.sc-button2:focus{outline:none;}
.sc-button2:active{outline:none;}

.sc-button3 {min-width:160px;height:35px;text-align:center;border-radius:5px;border:0;outline:none; margin-bottom: 10px;
}
.btn-succes{background-color: #00bcd4!important;}
.btn-succes:hover{background-color: #00abc3 !important;}
.btn-primary{background-color: #008da5!important;}
.btn-primary:hover {background-color: #007991 !important;}

button:focus, button:active {outline: none;!important;}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus {border: none!important; outline: none!important;}
.sc-green:hover{background: #00a6be;}
.sc-dark-green:hover{background: #007087;}
.sc-orange:hover{background: #f8582b;}
 a>.sc-dark-blue:hover{background: #135b91;}

    /*=============================================*/
/*  /////////////////////////////////////////  */
/* ------------- INPUTS ------------- */
/*  /////////////////////////////////////////  */
/*=============================================*/

input[type="text"]{ border-radius:3px; width:100%; height:40px; outline:none; padding:10px;}
input[type="submit"]{border-radius:3px; width:100%; height:40px; outline:none; padding:10px;}

select{color:#A4B0B4; background:white; border-radius:3px; width:100%; height:40px; outline:none; padding:10px;}


/*=============================================*/
/*  /////////////////////////////////////////  */
/* ------------- Images ------------- */
/*  /////////////////////////////////////////  */
/*=============================================*/


.img-circle {/* Bootsrap Class */ }
.img-responsive {/* Bootsrap Class */ }

.img-mini {width: 50px;}
.img-med {width: 50px;}
.img-thumb {width: 65px;}



/* ////////////////////  Login - SignUp Modals  /////////////////////// */
/* //////////////////////////////////////////////////////////////////// */
.login-signUp-title{margin: 0 0 20px 0; font-size: 190%; font-weight: 300}
.login-signUp-text{margin-top: 30px; margin-bottom: 0; padding-bottom: 0;   font-size: 150%; font-weight: 300}
.btn-block, .form-group .btn { height: 40px;color: #f5f5f5; font-weight: 300}
/*.form-group .btn:hover{color: black; background-color: #00bcd4}*/
.form-group .btn:hover{background-color: #00839b; color: #fff; font-weight: 400;
}



/*=============================================*/
/*  /////////////////////////////////////////  */
/* ------------- Ribbons ------------- */
/*  /////////////////////////////////////////  */
/*=============================================*/


.ribbonSm{height: 73px; width: auto; position: absolute; right: -3.5px; top: -3px; z-index: 1;}
.ribbonMed{height: 120px; width: auto; position: absolute; right: -4.5px; top: -4.5px; z-index: 1;}
.ribbonL{height: 170px; width: auto; position: absolute; right: -4.5px; top: -5px; z-index: 1;}

.text-corner{position: absolute; z-index: 2; color: #fff; font-size: 110%; font-weight: 400;
    /* Safari,Chrome */
    -webkit-transform: rotate(45deg);
    /* Firefox */
    -moz-transform: rotate(45deg);
    /* IE */
    -ms-transform: rotate(45deg);
    /* Opera */
    -o-transform: rotate(45deg);
}
.text-Sm{right: -2px; top: 13px; color: #008DA5; font-weight: 500}
.text-Med{right: 8px; top: 34px; color: #fff;}
/*.text-L{right: 17px; top: 60px; color: #008DA5; font-weight: 600}*/
.text-L{right: 17px; top: 60px; color: #fff; font-weight: 400;
}

.text-Med,.text-L{
    /*-webkit-text-stroke-width: 0.3px;*/
    /*-webkit-text-stroke-color: black;*/
}


/* ///////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////Language Drop Down White /////////////////////////////////// */

div>ul>.selected{ background-color: transparent; border: none; box-shadow: none;}
        .langDropWhite{margin: 4px -3px; width: 80px;}
        .langDropWhite .dropdown-menu{background-color: #eee; padding-top: 15px}
        .btn-white{background-color: transparent; box-shadow: none}
        .btn-white:focus{box-shadow: none; outline: 0}
        .btn-white:hover{color: #FD6A33!important;}
        .hide{display: none}
        .btn-white:selected{ color: red }
        select option {color: red!important; background-color: yellow}
        /*div>ul>.selected{color: black!important}*/

/* //////////////////////////////////////////////////////////////////////////////// */


.checkbox > label > a:visited { color: black }
.checkbox > label > a:hover { color: black }


.btn-facebook{background-color: #3b5998 !important; }
.btn-facebook:hover{background-color: #384682 !important;  }
.btn-googleplus{background-color: #dd4b39 !important;}
.btn-googleplus:hover{background-color: #cd4937 !important;}


.a-text:visited{color: black}



.wrapper-page {padding: 0 70px;!important;}

.checkbox {
    padding-left: 20px;
}
.checkbox label {
    display: inline-block;
    padding-left: 5px;
    position: relative;
}
.checkbox label::before {
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: transparent;
    border-radius: 3px;
    border: 2px solid #98a6ad;
    content: "";
    display: inline-block;
    height: 17px;
    left: 0;
    top: 2px;
    margin-left: -20px;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 17px;
    outline: none !important;
}
.checkbox label::after {
    color: #eeeeee;
    display: inline-block;
    font-size: 11px;
    height: 16px;
    left: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    position: absolute;
    top: 2px;
    width: 16px;
}
.checkbox input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    z-index: 1;
    outline: none !important;
}
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline-offset: -2px;
    outline: none;
}
.checkbox input[type="checkbox"]:checked + label::after {
    content: "\f00c";
    font-family: 'FontAwesome';
}
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #5d9cec;
    border-color: #5d9cec;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #ffffff;
}


/*=============================================*/
/*  /////////////////////////////////////////  */
/* ------ Algolia Angular Search Input ------- */
/*  /////////////////////////////////////////  */
/*=============================================*/

.algolia-autocomplete {
    width: 100%;
    outline:none!important;
    border-radius:5px;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
    width: 100%;
}

.algolia-autocomplete .aa-hint {
    /*color: black;*/
}
.algolia-autocomplete .aa-dropdown-menu {
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
    cursor: pointer;
    padding: 5px 4px;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
    background-color: #ebebeb;
    /*color: black;*/
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
    font-weight: bold;
    font-style: normal;
}

/*=============================================*/


/*=============================================*/
/*  /////////////////////////////////////////  */
/* ------------- Algolia Results  ------------ */
/*  /////////////////////////////////////////  */
/*=============================================*/
.filter-title{color: #008da5;}
.btn-change-search{border: 1px solid #777; border-radius: 5px; padding: 9px 13px!important; margin-top: 4px; margin-right: 15px;}
.sc-landing-menu-item>.btn-change-search:hover{border-color:  #008da5!important; color: #008da5!important;}


.clear-filter{width: 100%; margin-left: 0;}
.clear-filter-mobile{width: 230px; margin-left: 0;}

/*=============================================*/


/*li, a { cursor: pointer!important; cursor: hand!important;}*/
/*a { cursor: pointer!important; cursor: hand!important;}*/

.sc-landing-logo-sticky, .sc-landing-menu-sandwitch-button-sticky  {margin-top: -10px}
@media (min-width: 1440px)  {
    .container {width: 1390px;}
}


@media (min-width: 1350px)  and (max-width: 1449px) {
    .container {width: 1320px;}

}

@media (min-width: 1250px) and (max-width: 1349px) {
    .container {width: 1230px;}
}


@media (min-width: 1200px)  and (max-width: 1249px) {
    .container {width: 1190px;}

}

@media (min-width: 1150px)  and (max-width: 1199px) {
    .container {width: 1140px;}

}


@media (min-width: 1110px)  and (max-width: 1149px) {
    .container {width: 1100px;}

}
@media (min-width: 1050px)  and (max-width: 1109px) {
    .container {width: 1040px;}

}

@media (min-width: 992px)  and (max-width: 1049px) {
    .container {width: 980px;}

}


@media (min-width: 930px)  and (max-width: 991px) {
    .container {width: 920px;}

}

@media (min-width: 860px)  and (max-width: 929px) {
    .container {width: 850px;}

}



@media (min-width: 992px) and (max-width: 1199px) {

}


@media  (max-width: 991px) {
    .sc-logo{height: 45px;}
    .sc-landing-logo-sticky  {margin-top: -16px}
    /*.sc-landing-menu-sandwitch-button-sticky {margin-top: -10px;}*/
}



/*====================Hiden xxxs =========================*/

@media (max-width: 480px) {
    .hidden-xxxs {
        display: none !important;
    }
}

@media (max-width: 340px) {
    .hidden-xxxxs {
        display: none !important;
    }
}





