.grid{position:relative;list-style:none;text-align:center;}
.grid figure{position:relative;float:left;overflow:hidden;text-align:center;cursor:pointer;background:#1d81a3;background-image:-webkit-linear-gradient(rgba(96, 117, 183, 0.49), rgba(0, 0, 0, 0.83));}
.grid figure figcaption{color:#fff;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
.grid figure figcaption::before,
.grid figure figcaption::after{pointer-events:none;}
.grid figure figcaption,
.grid figure figcaption > a{position:absolute;top:-50px;left:-5px;width:100%;height:100%;}
.grid figure figcaption > a{z-index:1000;text-indent:200%;white-space:nowrap;font-size:0;opacity:0;}
.grid figure h2{word-spacing:-0.15em;font-weight:300;text-shadow:3px 3px 7px rgba(0, 0, 0, 1);}
.grid figure h2 span{font-weight:800;}
.grid figure h2,
.grid figure p{margin:0;}
.grid figure p{letter-spacing:1px;}
figure.effect-lily img{max-width:none;width:-webkit-calc(100% + 50px);width:calc(100% + 50px);opacity:0.8;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(-40px,0, 0);transform:translate3d(-40px,0,0);}
figure.effect-lily figcaption{text-align:left;}
figure.effect-lily figcaption > div{position:absolute;bottom:0;left:0;padding:2em;width:100%;height:50%;}
figure.effect-lily h2,
figure.effect-lily p{-webkit-transform:translate3d(0,40px,0);transform:translate3d(0,40px,0);}
figure.effect-lily h2{-webkit-transition:-webkit-transform 0.35s;transition:transform 0.35s;}
figure.effect-lily p{color:rgba(255,255,255,0.8);opacity:0;-webkit-transition:opacity 0.2s, -webkit-transform 0.3s;transition:opacity 0.2s, transform 0.3s;}
figure.effect-lily:hover p{opacity:1;}
figure.effect-lily:hover img{opacity:0.3;}
figure.effect-lily:hover img,
figure.effect-lily:hover h2,
figure.effect-lily:hover p{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
figure.effect-lily:hover p{-webkit-transition-delay:0.05s;transition-delay:0.05s;-webkit-transition-duration:0.3s;transition-duration:0.3s;}