.box {
    position: relative;
}

.ribbon {  margin: 0 3px;}

.ribbon {
    position: absolute;
    right: -7px; top: -6px;
    z-index: 1;
    overflow: hidden;
    width: 75px; height: 75px;
    text-align: right;
}
.ribbon span {
    font-size: 10px;
    font-weight: bold;
    color: #FFF;
    /*text-transform: uppercase;*/
    text-align: center;
    line-height: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    width: 100px;
    display: block;
    background: #79a70a;

    position: absolute;
    top: 19px; right: -21px;
}
.ribbon span::before {
    content: "";
    position: absolute; left: 0px; top: 100%;
    z-index: -1;

    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;

}
.ribbon span::after {
    content: "";
    position: absolute; right: 0px; top: 100%;
    z-index: -1;
    border-left: 3px solid transparent;

}

.top10 span{
    background: linear-gradient(#06C7E5 0%, #428BCA 100%);
}
.top10 span::before {
    border-top: 3px solid #428BCA;
    border-left: 3px solid #428BCA;
}
.top10 span::after {
    border-top: 3px solid #428BCA;
    border-left: 3px solid #428BCA;
}



.top5 span{
    background: linear-gradient(#9bc90d 0%, #79A70A 100%);

}
.top5 span::before {
    border-top: 3px solid #79A70A;
    border-left: 3px solid #79A70A;
}

.top5 span::after {
    border-top: 3px solid #79A70A;
    border-left: 3px solid #79A70A;
}


.top20 span{
    background: linear-gradient(#d72822 0%, #F44336 100%);

}
.top20 span::before {
    border-top: 3px solid #F44336;
    border-left: 3px solid #F44336;
}

.top20 span::after {
    border-top: 3px solid #c72822;
    border-left: 3px solid #c72822;
}


.vis {
    visibility: visible;

}
