* {
    font-family: 'Roboto', sans-serif;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

.clear-fix {
    clear: both;
    display: block;
}


/*=============================================*/
/*  /////////////////////////////////////////  */
/* -------------  HEADER      ------------- */
/*  /////////////////////////////////////////  */

#header {
background:rgba(240,240,240,0.92);
border-bottom: 1px solid #c1c1c1;
height: 61px;
}

#header .active a {
    padding-bottom: 5px;
    border-bottom: 2px solid #a1a1a1;
}

.navbar-scroll li {
    top: -11px;
}

.nav-web .sc-landing-logo, .nav-web .sc-landing-logo-sticky {
    padding-top: 15px;
}

.nav-mobile {
    padding-top: 11px;
}

section{padding-top:100px!important; padding-bottom:100px!important;}
/*Landing Header */
.sc-landing-header{height:79px;background:transparent;}

.sc-landing-header-sticky{background:transparent;}

.sc-landing-brand{padding-top:26px!important;}

.sc-landing-menu{  padding-top:10px;  }

.sc-landing-menu a{  color:#324c5a;}
.sc-landing-menu li>a:hover{background-color:transparent!important;color:#ffffff;}
.sc-landing-menu li>a:focus{background-color:transparent!important;color:#ffffff;}
.sc-landing-menu-item{padding-top:8px;}

.sc-button-landing{margin-top:-4px;}

.sc-landing-logo-sticky{display:block}
.sc-landing-logo{}

.sc-landing-menu-mobile-sandwitch{padding-right:20px;margin-top: 25px!important; cursor:pointer;}
.sc-landing-menu-button-sandwitch{}
.sc-landing-menu-sandwitch-button-sticky{display:block;}
.sc-landing-menu-sandwitch{}

.sc-landing-menu-mobile-holder{padding:20px;width:230px;height:100%;position:fixed;right:0; top:0;z-index: 999999;display:none;}
.sc-landing-menu-mobile-close{font-size:25px;cursor:pointer;}
.sc-landing-menu-mobile-item{font-size:18px;text-align:right;color:white;font-weight:300;padding-top:20px;}

.filter-icon{margin-top: -10px!important;}

/*=============================================*/

.main {
    min-height: 800px;
    background-color: #F1F4F5;
}

.up {
    height: 120px;
}



p {padding: 15px; color: #5d5d5d;  }




/* /////////////////////////  Cards   ///////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// */

.scholarship-container{min-height: 260px; margin-bottom: 30px;
    /*background-color: #fcfcfc; border: 1px solid #e1e1e1;   */
}
.xxs-title-name{display: none}
.break{ display: none}

.inner-container{ border: 1px solid #008da5; border-radius: 7px; background-color: #ebebeb; margin-bottom: 50px}
.section-container{background-color: #f0f0f0; padding: 0 5px; }

.section1,.section2,.section3,.section4 {background-color: #fff;
    border: 5px solid #f0f0f0; border-top: none; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px;
}
.scholar-header { border: 1px solid #008da5; border-bottom-color: #FD6A33;min-height: 80px; background-color: #008da5; border-top-left-radius: 5px; border-top-right-radius: 5px}
.section1,.section2,.section3 { min-height: 260px; }
.section4{min-height: 100px;}
/*.section1{border-left-color: #008da5;}*/
/*.section3{ border-right-color: #008da5;}*/
/*.section4{border-bottom-left-radius: 7px; border-bottom-right-radius: 7px}*/

.header-text{ font-size: 150%; color: #fff; font-weight: 100;
    /*border-bottom: 1px solid #FD6A33*/
}
/*.header-line{ width: 90px; margin-top: 50px; margin-left: -15px; height: 1px; border-bottom: 1px solid #FD6A33}*/
.trophy-container{height: 50px; width: 40px;}
.trophy-img{width: 40px; margin-top: 14px;}

.circle {
    height:60px;
    width:60px;
    background-color: #ffffff;
    -moz-border-radius: 40px;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border: 2px solid #FD6A33;
    box-shadow: 0 0 18px #00d3eb;
}

.hex-container{width: 60px;}
.hex{ margin-top: -2px;}
.hex-img{height: 34px;  top: 0; z-index: 3; position: absolute;}

.text-title ,.text-content{color: #888; font-weight: 300;}
.text-title { margin-top: 25px; text-decoration: underline; font-size: 116%}
.text-content{ margin-top: 4px; font-size: 97%;}

.scholar-footer{height: 60px; background-color: #f0f0f0;
    /*border: 1px solid #008da5;*/
    /*border-top: none;*/
    border-bottom-left-radius: 8px; border-bottom-right-radius: 8px;
    padding-top: 7px;
}


.scholar-footer-left{padding-right: 50px;}
.scholar-footer-right{margin-left: -7px;}


.btn-provoli{width: 135px;  margin-top: 3px; margin-right: -5px;}
.btn-like{ width: 135px;}


/*=============================================*/
/*  /////////////////////////////////////////  */
/* ---------------  LEFT BOX    -------------- */
/*  /////////////////////////////////////////  */


.left-box1{min-height: 300px}
.left-box4{min-height: 70px; padding-top: 23px}

.left-box1, .left-box4{
    background-color: #fff;
    border: solid 1px #e1e1e1;
}

.input-container{ width: 91%; margin-left: 4.5%; margin-top: 30px;}
.input-box{border: none; border: 1px solid #ccc; }
.selectpicker, .input-box{color: #888; font-weight: 300; min-height: 40px;}

.location-container{margin-top: 12px}


.input-group-addon { background-color: #fff;
    border-right: none; width: 20px; }

::-webkit-input-placeholder {  color:    #888;   /* default placeholder text */  }

.ais-search-box--input{width: 117%!important;}


@media (max-width: 1449px)  {
    .ais-search-box--input{width: 110%!important;}
}

@media (max-width: 1349px)  {
    .ais-search-box--input{width: 103%!important;}
}
@media (max-width: 1249px)  {
    .ais-search-box--input{width: 100%!important;}
}




/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////////// */
/* ////////////////////  For mobile sidebar ///////////////////////////////// */


/* //////////////////////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////    MEDIA QUERIES   ////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////////////////////////////////// */




@media (min-width: 1450px)  {

}

/* =========== Large ===========*/
@media (min-width: 1200px) and (max-width: 1449px) {
    /*  */

}




/* =========== Medium ===========*/
@media (min-width: 992px) and (max-width: 1199px) {
    .section1, .section2{ min-height: 220px}
    .section3{ min-height: 150px}
    .scholar-footer-left{padding-right: 30px;}

    }


/* =========== Small ===========  Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
    /*  */
    .scholarship-container{min-height: 245px;}
    .section1, .section2,  .section3{ min-height: 270px;}
    .scholar-footer-left{padding-right: 45px;}


}



/* =========== Extra Small =========== Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {
    /*  */
    /*.section1{ min-height: 220px; margin-top: 5px; margin-bottom: 2px; border-radius: 10px; border: 5px solid #f0f0f0; }*/
    /*.section2,.section3{ min-height: 180px; margin-bottom: 4px; border-radius: 10px; border: 5px solid #f0f0f0; border-top: 2px solid #f0f0f0;}*/

}

@media (max-width: 767px) {
    .section1{ min-height: 220px; margin-top: 5px; margin-bottom: 2px; border-radius: 10px; border: 5px solid #f0f0f0; }
    .section2,.section3{ min-height: 180px; margin-bottom: 4px; border-radius: 10px; border: 5px solid #f0f0f0; border-top: 2px solid #f0f0f0;}
    .btn-provoli{ margin-right: -5px; padding-right: 0}
    .break{display: block}
    .header-text{margin-top: 7px}
    .title-from{ font-size: 87%; color: #e1e1e1}
    .scholar-footer-left{padding-right: 80px;}
}





@media  (max-width: 640px) {
    /*  */
    .section1{ min-height: 220px; margin-top: 2px}
    .section2,.section3{ min-height: 175px;}
    .xs-hidden {  display: none  }
    .scholar-footer-left{padding-right: 72px;}

    .xxs-2 {  width: 16.66666667%;  }
    .xxs-3 {  width: 25%;  }
    .xxs-4 {  width: 33.33333333%;  }
    .xxs-8 {  width:66.66666667%; }
    .xxs-9 {  width: 75%;  }
    .xxs-10 {  width: 83.33333333%;  }
    .xxs-12 {  width: 100%;  }

    .xxs-2,.xxs-3,.xxs-4,.xxs-9,.xxs-10,.xxs-12
    {
    position:relative;
    min-height:1px;
    padding-right:2px;
    padding-left:2px;
    float:left;
    }
}



@media (min-width: 481px) and (max-width: 540px) {


}


/* Portrait phones and smaller */
@media (max-width: 480px) {
    .scholar-footer-left{padding-right: 30px;}
    /* */

}


@media (max-width: 510px) {
    .header-text{margin-top: 20px;}
    .title-from{ font-size: 95%; }
    .title-name{display: none}
    .break{display: none}
    .xxs-title-name{ display: block; clear: both;  font-size: 132%; font-weight: 200; color: #fff; margin-left: -5px; margin-bottom: 10px }
    .circle{margin-left: -10px; width: 50px; height: 50px}
    .trophy-container{ width: 32px;}
    .trophy-img{width: 32px; margin-top: 12px}
    .logo-img{width: 42px; margin-top: 3px!important; margin-left: -5px!important;}
}




@media (max-width: 380px) {
 .header-text{margin-top: 20px;}
 .title-from{ font-size: 84%; }
 .xxs-title-name{ font-size: 125%; font-weight: 200; color: #fff; margin-left: -6px; }
 .circle{margin-left: -10px; width: 43px; height: 43px}
 .trophy-container{ width: 27px;}
 .trophy-img{width: 27px; margin-top: 10px}
  .logo-img{width: 36px; margin-top: 2.4px!important; margin-left: -4.51px!important;}
    .scholar-footer-left{padding-right: 50px;}

}

@media (max-width: 350px) {
    .scholar-footer-left{padding-right: 30px;}
    /* */

}

@media (max-width: 400px) {
    /* */
.xxs-footer{ font-size: 90%}
.btn-provoli{ width: 100px; font-size: 95%; margin-right: -5px; padding-right: 0; margin-top: -2px}
    .xxs-4 {  width:18%; }
    .xxs-8 {  width:82%; }
    .section1{ min-height: 240px;}
    .section2{ min-height: 220px;}
    .section3{ min-height: 190px;}



}