
.sc-header-holder{padding-left:20px;padding-right:20px;padding-top:15px;padding-bottom:5px;width:100%;height:60px;position:fixed;z-index:999;border-bottom: 0.1px solid #dadada}
.sc-tutorschool-header-margin-fix{margin-top:-5px}
.sc-header-mute{margin-bottom:30px;}
.sc-header-mute-icon-holder{padding-top:6px;text-align:center;width: 30px;height:30px;background:white;-moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius: 15px;}
.sc-header-mute-icon{color:#324c5a;cursor:pointer;}
.sc-header-mute-icon:hover{color:#b3b3b3;cursor:pointer;}

.sc-header-main-fix{}

/*Sidebar*/
.sc-sidebar-holder{padding-top:70px;padding-left:20px;padding-right:20px;width:250px;height:100%;position:fixed;}
.sc-mini-sidebar-holder{display:none;padding-top:70px;padding-left:15px;padding-right:15px;width:60px;height:100%;position:fixed;}

.sc-sidebar-mobile-holder{display:none;padding-top:70px;padding-left:20px;padding-right:20px;width:250px;height:100%;position:fixed;}
.sc-mini-sidebar-mobile-holder{padding-top:70px;padding-left:15px;padding-right:15px;width:60px;height:100%;position:fixed;}



.sc-main-content-holder{padding-top: 70px;margin-left:250px;width:calc(100% - 250px);min-height:300px;position:relative;}
.sc-sidebar-tutorschool-photo{margin-bottom:10px;}
.sc-sidebar-tutorschool-name{color:white;font-weight:400;font-size:13px;}
.sc-sidebar-tutorschool-type{color:white;font-weight:300;font-size:10px;}



@media(max-width:970px){
    .sc-main-content-holder{padding-top: 70px;margin-left:60px;width:calc(100% - 60px);min-height:300px;position:relative;}
}