::-moz-selection{
	background-color: #3F51B5;
	color: #fff;
	}
::selection{
	background-color: #3F51B5;
	color: #fff;
}

.divider > i,
.about-list > li > .icon,
.service > .icon,
.contact-info > .icon,
.attribution > a {
	color:#3F51B5;
}

.about-list > li > .icon:after,
.subscribe-input > .notify,
.send-message,
#nav > li > a.active,
#nav > li > a:hover {
	background:#3F51B5;
}

.about-list > li > .icon,
#nav > li > a {
	border:solid 2px #3F51B5;
}

.about-list > li > .content > h4:after {
	border-bottom:dotted 2px #3F51B5;
}

.loader,
.loader:before,
.loader:after {
	border-top-color: #3F51B5;
}