/* ============================================= */
/* ============================================= */
.cs-skin-circular {
  background: transparent;
  font-size: 15px;
  font-weight: 300;
  width: auto;
   }

.cs-skin-circular > span {
  background: transparent;
  width: 53px;
  height: 53px;
  text-align: center;
  padding: 0;
  text-indent: 100%;
  /*box-shadow: inset 0 0 0 2px #888;*/
  border-radius: 30%;
  /*border: 2px solid #888;*/
  -webkit-transition: -webkit-transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center center; }



.cs-skin-circular > span::after {
  font-family: 'FontAwesome';
  font-size: 25px;
  content: '\f022';
  right: 0px;
  /*width: 100%;*/
  text-indent: 0; }

.cs-skin-circular.cs-active > span::after {
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.cs-skin-circular > span[style]::after {
  content: ''; }

.cs-skin-circular .cs-selected span::after {
  content: ''; }

.cs-skin-circular.cs-active > span {
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1); }

.cs-skin-circular .cs-options {
  width: 100%;
  height: 100%;
  top: 0;
  background: transparent;
  overflow: visible;
  font-size: 50%;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.2s, visibility 0s 0.2s;
  transition: opacity 0.2s, visibility 0s 0.2s; }

.cs-skin-circular.cs-active .cs-options {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s; }

.cs-skin-circular .cs-options ul,
.cs-skin-circular .cs-options li {
  position: absolute;
  width: 100%;
  height: 100%; }

.cs-skin-circular .cs-options li {
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
  pointer-events: auto;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.1s;
  transition: transform 0.2s, opacity 0.1s; }

.cs-skin-circular.cs-active .cs-options li {
  opacity: 1;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  /*filter: grayscale(0.7);*/
  /*background-color: #bbb;*/
  /*border: 1px solid #888;*/
}

.cs-skin-circular.cs-active .cs-options li:hover {
  opacity: 1;
  filter: grayscale(0);
  /*border: 2px solid orange;*/
  /*background-color: greenyellow;*/
}

.cs-skin-circular .cs-options li:nth-child(1) {
  background-image: url(../img/1.png); }

.cs-skin-circular .cs-options li:nth-child(2) {
  background-image: url(../img/2.png); }

.cs-skin-circular .cs-options li:nth-child(3) {
  background-image: url(../img/3.png); }

.cs-skin-circular .cs-options li:nth-child(4) {
  background-image: url(../img/4.png); }

.cs-skin-circular .cs-options li:nth-child(5) {
  background-image: url(../img/5.png); }

.cs-skin-circular .cs-options li:nth-child(6) {
  background-image: url(../img/6.png); }

.cs-skin-circular .cs-options li:nth-child(7) {
  background-image: url(../img/7.png); }

.cs-skin-circular .cs-options li:nth-child(8) {
  background-image: url(../img/8.png); }


.cs-skin-circular-student .cs-options li:nth-child(1) {
  background-image: url(../img/11.png); }

.cs-skin-circular-student .cs-options li:nth-child(2) {
  background-image: url(../img/12.png); }

.cs-skin-circular-student .cs-options li:nth-child(3) {
  background-image: url(../img/13.png); }

.cs-skin-circular-student .cs-options li:nth-child(4) {
  background-image: url(../img/14.png); }



/* (x,y,z)  */

.cs-skin-circular.cs-active .cs-options li:nth-child(1) {
  -webkit-transform: translate3d(-150px, 57px, 0);
  transform: translate3d(-150px, 57px, 0); }

.cs-skin-circular.cs-active .cs-options li:nth-child(2) {
  -webkit-transform: translate3d(-100px, 57px, 0);
  transform: translate3d(-100px, 57px, 0); }

.cs-skin-circular.cs-active .cs-options li:nth-child(3) {
  -webkit-transform: translate3d(-50px, 57px, 0);
  transform: translate3d(-50px, 57px, 0); }

.cs-skin-circular.cs-active .cs-options li:nth-child(4) {
  -webkit-transform: translate3d(0, 120px, 0);
  transform: translate3d(0, 57px, 0); }

.cs-skin-circular.cs-active .cs-options li:nth-child(5) {
  -webkit-transform: translate3d(50px, 57px, 0);
  transform: translate3d(50px, 57px, 0); }

.cs-skin-circular.cs-active .cs-options li:nth-child(6) {
  -webkit-transform: translate3d(100px, 57px, 0);
  transform: translate3d(100px, 57px, 0); }



.cs-skin-circular.cs-active .cs-options li:nth-child(8) {
  -webkit-transform: translate3d(120px, 0, 0);
  transform: translate3d(120px, 0, 0); }

.cs-skin-circular.cs-active .cs-options li:nth-child(7) {
  -webkit-transform: translate3d(0, -70px, 0);
  transform: translate3d(-101px, -57px, 0); }


.cs-skin-circular-student.cs-active .cs-options li:nth-child(1) {
  -webkit-transform: translate3d(-50px, 57px, 0);
  transform: translate3d(-50px, 57px, 0);  }

.cs-skin-circular-student.cs-active .cs-options li:nth-child(2) {
  -webkit-transform: translate3d(0, 57px, 0);
  transform: translate3d(0, 57px, 0);  }

.cs-skin-circular-student.cs-active .cs-options li:nth-child(3) {
  -webkit-transform: translate3d(50px, 57px, 0);
  transform: translate3d(50px, 57px, 0); }

.cs-skin-circular-student.cs-active .cs-options li:nth-child(4) {
  -webkit-transform: translate3d(100px, 57px, 0);
  transform: translate3d(100px, 57px, 0); }



.cs-skin-circular .cs-options li span {
  display: none; }

.cs-skin-circular .cs-options li.cs-focus {
  background-color: transparent;
  opacity: 0.7; }
